<div id="bordes" class="mb-5">
  <h4>Bordes</h4>

  <div class="d-flex justify-content-between colores" >
    <div class="border-primario p-2"></div>     
    <div class="px-5 mt-2"><p>#84b2c2</p></div>             
  </div>

  <div class="d-flex justify-content-between colores" >
    <div class="border-complementario p-2"></div>
    <div class="px-5 mt-2"><p>#606062</p></div>
    
  </div>

  <div class="d-flex justify-content-between colores" >
    <div class="border-acento p-2"></div>
    <div class="px-5 mt-2"><p>#ff0a8d</p></div>
    
  </div>


  <div class="px-5 px-3">
    <xmp><div class="border-primario"></div></xmp>
    <xmp><div class="border-complementario"></div></xmp>
    <xmp><div class="border-acento"></div></xmp>
  </div>

  
</div>