// Body
$body-bg: #f8fafc;

// Typography


$font-family-sans-serif: 'Nunito', sans-serif;
$font-principal: 'MadeTommySoft', sans-serif;
$font-secundaria: 'Akshar', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$blanco: #ffffffff;
$primario: #3b3a3aff;
$secundario: #57aeb7ff;
$complementario: #492681ff;
$acento: #144659ff;


/* SCSS HEX */
$y-in-mn-blue: #2e5077ff;
$radical-red: #ff4169ff;
$ruby: #cf3160ff;
$bright-navy-blue: #2570c4ff;
$yale-blue: #024ea6ff;

/* SCSS HSL */
$y-in-mn-blue:-t hsla(212, 61%, 47%, 1);
$radical-red-t: hsla(347, 75%, 100%, 1);
$ruby-t: hsla(342, 76%, 81%, 1);
$bright-navy-blue-t: hsla(212, 81%, 77%, 1);
$yale-blue-t: hsla(212, 99%, 65%, 1);

$y-in-mn-blue-rgb: rgba(46, 80, 119, 1);
$radical-red-rgb: rgba(255, 65, 105, 1);
$ruby-rgb: rgba(207, 49, 96, 1);
$bright-navy-blue-rgb: rgba(37, 112, 196, 1);
$yale-blue-rgb: rgba(2, 78, 166, 1);


// Typography import

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: MadeTommySoft;
    src: url("@/fonts/made_tommy/MADE_TOMMY_Regular.otf") format("opentype");
    font-weight: 500 600;
}

@font-face {
    font-family: MadeTommySoft;
    src: url("@/fonts/made_tommy/MADE_TOMMY_Thin.otf") format("opentype");
    font-weight: 100 200;
}

@font-face {
    font-family: MadeTommySoft;
    src: url("@/fonts/made_tommy/MADE_TOMMY_Light.otf") format("opentype");
    font-weight: 300 400;
}

@font-face {
    font-family: MadeTommySoft;
    src: url("@/fonts/made_tommy/MADE_TOMMY_Medium.otf") format("opentype");
    font-weight: 700 800;
}

@font-face {
    font-family: MadeTommySoft;
    src: url("@/fonts/made_tommy/MADE_TOMMY_Bold.otf") format("opentype");
    font-weight: 900;
}





